{{#block 'head'}}
<link rel="stylesheet" href="/styles/home.css" type="text/css">
{{/block}}

{{#block 'body'}}
<section class="box">
    <h1 class="title">Fe Study Home Page</h1>
    <h3>Articles List</h3>
    <ul class="articles">
        <li class="item">
            <a href="/article/react" target="_blank">React Todo-MVC</a>
        </li>
    </ul>
</section>
{{/block}}