{{#block 'head'}}
<link rel="stylesheet" href="/styles/home.css" type="text/css"> {{/block}} {{#block 'body'}}
<section class="box">
  <h1 class="title">Fe Study Home Page</h1>
  <section class="unit">
    <h3>Todolist 技术实现</h3>
    <ul class="articles">
      <li class="item">
        <a href="/todolist/react" target="_blank">纯React 实现</a>
      </li>
      <li class="item">
        <a href="/todolist/flux" target="_blank">React + Flux 实现</a>
      </li>
      <li class="item">
        <a href="/todolist/redux" target="_blank">React + 纯redux 实现</a>
      </li>
      <li class="item">
        <a href="/todolist/react-redux" target="_blank">React + react-redux 实现</a>
      </li>
      <li class="item">
        <a href="/todolist/backbone" target="_blank">backbone 实现</a>
      </li>
    </ul>
  </section>
  <section class="unit">
    <h3>React 功能点学习</h3>
    <ul class="articles">
      <li class="item">
        <a href="/react/main" target="_blank">React Test Page</a>
      </li>
    </ul>
  </section>
  <section class="unit">
    <h3>Css 知识点</h3>
    <ul class="articles">
      <li class="item">
        <a href="/css/checkbox" target="_blank">自定义checkbox</a>
      </li>
      <li class="item">
        <a href="/css/linear" target="_blank">Linear变化</a>
      </li>
    </ul>
  </section>
  <section class="unit">
    <h3>其他知识点</h3>
    <ul class="articles">
      <li class="item">
        <a href="/other/websocket" target="_blank">WebSocket Demo</a>
      </li>
    </ul>
  </section>
</section>
{{/block}}