{{#block 'head'}}
<link rel="stylesheet" href="/styles/checkbox.css" type="text/css">
<style>
  .box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .box div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 10px;
    background: lightseagreen;
  }
</style>
{{/block}}

{{#block 'body'}}
<h1>CSS-Checkbox-Library</h1>
<h3>Types</h3>
<div class="box">
  <div class="ckbx-style-1">
    <input type="checkbox" id="ckbx-style-1-1" value="0" name="ckbx-style-1">
    <label for="ckbx-style-1-1"></label>
  </div>
  <div class="ckbx-style-2">
    <input type="checkbox" id="ckbx-style-2-1" value="0" name="ckbx-style-2">
    <label for="ckbx-style-2-1"></label>
  </div>
  <div class="ckbx-style-3">
      <input type="checkbox" id="ckbx-style-3-1" value="0" name="ckbx-style-3">
      <label for="ckbx-style-3-1"></label>
  </div>
  <div class="ckbx-style-4">
      <input type="checkbox" id="ckbx-style-4-1" value="0" name="ckbx-style-4">
      <label for="ckbx-style-4-1"></label>
  </div>
    <div class="ckbx-style-5">
      <input type="checkbox" id="ckbx-style-5-1" value="0" name="ckbx-style-5">
      <label for="ckbx-style-5-1"></label>
  </div>
    <div class="ckbx-style-6">
      <input type="checkbox" id="ckbx-style-6-1" value="0" name="ckbx-style-6">
      <label for="ckbx-style-6-1"></label>
  </div>
    <div class="ckbx-style-7">
      <input type="checkbox" id="ckbx-style-7-1" value="0" name="ckbx-style-7">
      <label for="ckbx-style-7-1"></label>
  </div>
    <div class="ckbx-style-5">
      <input type="checkbox" id="ckbx-style-8-1" value="0" name="ckbx-style-8">
      <label for="ckbx-style-8-1"></label>
  </div>
    <div class="ckbx-style-9">
      <input type="checkbox" id="ckbx-style-9-1" value="0" name="ckbx-style-9">
      <label for="ckbx-style-9-1"></label>
  </div>
  <div class="ckbx-style-10">
      <input type="checkbox" id="ckbx-style-10-1" value="0" name="ckbx-style-10">
      <label for="ckbx-style-10-1"></label>
  </div>
    <div class="ckbx-style-11">
      <input type="checkbox" id="ckbx-style-11-1" value="0" name="ckbx-style-11">
      <label for="ckbx-style-11-1"></label>
  </div>
    <div class="ckbx-style-12">
      <input type="checkbox" id="ckbx-style-12-1" value="0" name="ckbx-style-12">
      <label for="ckbx-style-12-1"></label>
  </div>
    <div class="ckbx-style-13">
      <input type="checkbox" id="ckbx-style-13-1" value="0" name="ckbx-style-13">
      <label for="ckbx-style-131-1"></label>
  </div>
    <div class="ckbx-style-14">
      <input type="checkbox" id="ckbx-style-14-1" value="0" name="ckbx-style-14">
      <label for="ckbx-style-14-1"></label>
  </div>
    <div class="ckbx-style-15">
      <input type="checkbox" id="ckbx-style-15-1" value="0" name="ckbx-style-15">
      <label for="ckbx-style-15-1"></label>
  </div>
    <div class="ckbx-style-16">
      <input type="checkbox" id="ckbx-style-16-1" value="0" name="ckbx-style-16">
      <label for="ckbx-style-16-1"></label>
  </div>
  <div class="ckbx-style-17">
      <input type="checkbox" id="ckbx-style-17-1" value="0" name="ckbx-style-17">
      <label for="ckbx-style-17-1"></label>
  </div>
</div>
<h3>Circle</h3>
<div class="box">
  <div class="ckbx-circle-1">
      <input type="checkbox" id="ckbx-circle-1-1" value="0" name="ckbx-circle-1">
      <label for="ckbx-circle-1-1"></label>
  </div>
  <div class="ckbx-circle-2">
      <input type="checkbox" id="ckbx-circle-2-1" value="0" name="ckbx-circle-2">
      <label for="ckbx-circle-2-1"></label>
  </div>
  <div class="ckbx-circle-3">
      <input type="checkbox" id="ckbx-circle-3-1" value="0" name="ckbx-circle-3">
      <label for="ckbx-circle-3-1"></label>
  </div>
  <div class="ckbx-circle-4">
      <input type="checkbox" id="ckbx-circle-4-1" value="0" name="ckbx-circle-4">
      <label for="ckbx-circle-4-1"></label>
  </div>
</div>
<h3>Qquares</h3>
<div class="box">
  <div class="ckbx-square-1">
      <input type="checkbox" id="ckbx-square-1-1" value="0" name="ckbx-square-1">
      <label for="ckbx-square-1-1"></label>
  </div>
  <div class="ckbx-square-2">
      <input type="checkbox" id="ckbx-square-2-1" value="0" name="ckbx-square-2">
      <label for="ckbx-square-2-1"></label>
  </div>
  <div class="ckbx-square-3">
      <input type="checkbox" id="ckbx-square-3-1" value="0" name="ckbx-square-3">
      <label for="ckbx-square-3-1"></label>
  </div>
  <div class="ckbx-square-4">
      <input type="checkbox" id="ckbx-square-4-1" value="0" name="ckbx-square-4">
      <label for="ckbx-square-4-1"></label>
  </div>
</div>
<h3>Size</h3>
<div class="box">
  <div class="ckbx-style-8 ckbx-small">
      <input type="checkbox" id="ckbx-size-1" value="0" name="ckbx-square-1">
      <label for="ckbx-size-1"></label>
  </div>
  <div class="ckbx-style-8 ckbx-medium">
      <input type="checkbox" id="ckbx-size-2" value="0" checked="" name="ckbx-square-1">
      <label for="ckbx-size-2"></label>
  </div>
  <div class="ckbx-style-8 ckbx-large">
      <input type="checkbox" id="ckbx-size-3" value="0" name="ckbx-square-1">
      <label for="ckbx-size-3"></label>
  </div>
  <div class="ckbx-style-8 ckbx-xlarge">
      <input type="checkbox" id="ckbx-size-4" value="0" name="ckbx-square-1">
      <label for="ckbx-size-4"></label>
  </div>
  <div class="ckbx-style-16 ckbx-small">
      <input type="checkbox" id="ckbx-size-2-1" value="0" name="ckbx-square-1">
      <label for="ckbx-size-2-1"></label>
  </div>
  <div class="ckbx-style-16 ckbx-medium">
      <input type="checkbox" id="ckbx-size-2-2" value="0" name="ckbx-square-1">
      <label for="ckbx-size-2-2"></label>
  </div>
  <div class="ckbx-style-16 ckbx-large">
      <input type="checkbox" id="ckbx-size-2-3" value="0" name="ckbx-square-1">
      <label for="ckbx-size-2-3"></label>
  </div>
  <div class="ckbx-style-16 ckbx-xlarge">
      <input type="checkbox" id="ckbx-size-2-4" value="0" name="ckbx-square-1">
      <label for="ckbx-size-2-4"></label>
  </div>
</div>
{{/block}}