{{#block 'head'}}
<link rel="stylesheet" href="/styles/todomvc.css" type="text/css">
{{/block}}

{{#block 'body'}}
<div id="container" class="page"></div>
{{/block}}

{{#block 'footer'}}
<script src="/scripts/page/todolist/mobx/app.js"></script>
{{/block}}