{{#block 'head'}}
<link rel="stylesheet" href="/styles/react.css" type="text/css">
{{/block}}

{{#block 'body'}}
<div id="container" class="page"></div>
{{/block}}

{{#block 'footer'}}
<script src="/scripts/page/react/App.js"></script>
{{/block}}