{{#block 'head'}}
<link rel="stylesheet" href="/styles/react.css" type="text/css">
{{/block}}

{{#block 'body'}}
<header class="p-hd">React Study</header>
<section class="content">
    <div class="box"></div>
</section>
<footer class="p-ft">Copyright Baotong.wang 2017.</footer>
{{/block}}

{{#block 'footer'}}
<script src="/scripts/page/backbone/app.js"></script>
{{/block}}

